<div class="container" ng-controller="HomeController" ng-init="LoadAllOfCategory()">
    <div class="row">
        <div class="col-md-12">
            <h3>Products</h3>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body">
                <form role="form">
                    <div class="form-group-sm">
                        <label>Choose one category</label>
                        <select class="input-sm form-control" ng-model="ChoseItem" ng-change="TestSelect()" >
                            <option value=""></option>
                            <option ng-repeat="category in ListOfCategory | orderBy:'Name'" value="{{category.Id}}">
                                {{category.Name}}
                            </option>
                        </select>
                    </div>
                </form>
            </div>
        </div>
        
        <div class="row" ng-if="ChoseItem == ''">
            <div class="col-md-12">
                <div class="alert alert-warning" role="alert">Category haven't been chosen, choose one.</div>
            </div>
        </div>

    </div>
</div>
